@(masterKey:Integer,masterManager:models.master.manager.UnitManager,masterMap:HashMap[Integer,BaseMasterManager])

@main(masterMap) {

    <div class="container" style="padding-top:100px;">
        <div class="col">
            <div class="span11">
                <table id="masterData">
                    <thead>
                        <th>No</th><th>方角</th><TH>勢力</TH><th>名称</th><th>摘要</th>
                        <TH>フレーム名</TH>
                        <th>ファイル名</th>
                        <TH>色名</TH>
                        <th>UPD</th><th>DIR</th><TH>FORCE</TH>
                    </thead>
                    <tbody>
                    @for(key <- masterManager.getData.keySet()){
                        @defining(masterManager.getData.get(key).asInstanceOf[models.master.Unit]){ master =>
                            <tr>
                                <td>
                                    <A HREF="/master/condition?k=@ID.MASTER_UNIT&c=@ID.MASTER_UNIT_SKILL&m=@master.getMasterNo">@master.getMasterNo</A>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id="di@master.getMasterNo">
                                    @master.getDirectionName
                                    </div>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id="fo@master.getMasterNo">
                                    @master.getForceName
                                    </div>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id='nm@master.getMasterNo'>@master.getName</div>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id='dt@master.getMasterNo'>@master.getDetail</div>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id='fr@master.getMasterNo'>@master.getFrameName</div>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id='im@master.getMasterNo'>@master.getImage</div>
                                </td>
                                <td tabindex="100">
                                    <div contenteditable="true" id='co@master.getMasterNo'>@master.getColorName</div>
                                </td>
                                <td><div style="cursor:pointer;" class="updateBtn" id="@master.getMasterNo" tabindex="100">
                                    <div id="ud@master.getMasterNo" class="label label-default"></div></div>
                                </td>
                                <td>
                                    <div id="vdi@master.getMasterNo">@master.getDirectionNo</div>
                                </td>
                                <td>
                                    <div id="vfo@master.getMasterNo">@master.getForceNo</div>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                <div><a href='/master/json?key=@masterKey'>JSONデータ取得</a></div>
                <A href='#'><DIV class="addNew" style="display:inline-block;cursor:pointer;"><span class="label label-info">新規データ追加</span></DIV></A>
                <div id="result"></div>
                <div id='colSize'>@masterManager.getData.size()</div>
                <div id='masterKey'>@masterKey</div>
                <div id='masterName'>@masterManager.getName - version @masterManager.getVersion</div>
                <div id='diURL'>/tool/master?k=@ID.MASTER_DIRECTION</div>
                <div id='foURL'>/tool/master?k=@ID.MASTER_FORCE</div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function(){

            kcClient.getRowData = function(id){
                return {
                    jsData  : id - 0,
                    master  : $('#masterKey' ).text(),
                    a001    : id - 0,
                    a002    : $('#nm' + id ).text(),
                    a003    : $('#dt' + id ).text(),
                    a004    : $('#im' + id ).text(),
                    b001    : $('#vdi' + id ).text(),
                    c015    : $('#co' + id ).text(),
                    c016    : $("#fr" + id ).text(),
                    b021    : $('#vfo' + id ).text()
                };
            }
            kcClient.updateURL = '/master/update';

            kcClient.createNewRowData = function(no){
                var $tr = $('<TR>');

                $tr.append($('<TD>' ).text(no));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('di' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('fo' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('nm' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('dt' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('fr' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('im' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeEditCel('co' + no )));
                $tr.append($('<TD>' ).append(kcClient.makeUpdateBtn(no)));
                $tr.append($('<TD>' ).append(kcClient.makeDataCel('vdi' +no )));
                $tr.append($('<TD>' ).append(kcClient.makeDataCel('vfo' +no )));

            return $tr;
            }
            kcClient.tableInfo = {
                caption     : $('#masterName' ).text() ,
                colratio    : [60,150,150,150,150,120,240,80,40,40,40],
                height      : 400,
                width       : 1000,
                zebra       : true,
                sortable    : true,
                sortedColId : 0,
                resizeCol   : true,
                pager       : false,
                sortType    : ['integer','string','string','string','string','string','string','string','string','string','string']
            };

            kcClient.setupRow = function(i){
                kcClient.setNotModify(i);
                var direct = $('#vdi' + i ).text() - 0 ;
                kcClient.editDropDown({key:'di',no:i,source:$('#diURL' ).text(),callback:undefined});
                kcClient.editDropDown({key:'fo',no:i,source:$('#foURL' ).text(),callback:undefined});
                kcClient.editCel($('#nm' + i));
                kcClient.editCel($('#dt' + i));
                kcClient.editCel($('#fr' + i));
                kcClient.editCel($('#im' + i));
                kcClient.editCel($('#co' + i));
            }
            // 初期の列数               ・
            kcClient.colSize    = $('#colSize' ).text() - 0;
            // 各種初期化を実行
            kcClient.init();

        });
    </script>

}
